:root {
  --primary-text-color-navyblue: #2e2f42;
  --secondary-text-color-slate: #434455;
  --accent-text-color: #ffffff;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-lightslate: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color-slate);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list-item,
.benefits-list-item,
.team-list-item,
.portfolio-list-item,
.social-link-list,
.social-link-list-footer {
  list-style-type: none;
}

.logo-icon,
.nav-link,
.social-link,
.contacts-link,
.logo-icon-footer {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-icon,
.logo-icon-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--color-iris);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-icon {
  margin-right: 76px;
}

.logo-span {
  color: var(--primary-text-color-navyblue);
}

.nav-link-list,
.contacts-link-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
}

.nav-link,
.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
}

.contacts-list {
  font-style: normal;
  margin-left: auto;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: var(--primary-text-color-navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-active {
  color: var(--color-ocean);
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: var(--secondary-text-color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-ocean);
}

.section {
  padding: 120px 0;
}

.hero-section {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-color: var(--primary-text-color-navyblue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title-hero-section {
  color: var(--accent-text-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.order-button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-iris);
  line-height: 1.5;
  min-width: 169px;
  border: none;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--color-ocean);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: var(--color-cloud);
  margin-bottom: 8px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.subtitle-benefits {
  margin-bottom: 8px;
}

.subtitle-benefits,
.subtitle-team,
.subtitle-portfolio {
  color: var(--primary-text-color-navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-benefits,
.text-team,
.text-portfolio,
.text-footer,
.text-social-media-footer,
.overlay,
.modal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: var(--color-cloud);
}

.title-team,
.title-portfolio {
  color: var(--primary-text-color-navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-team {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.team-list-item {
  background-color: var(--accent-text-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.about-team-container {
  text-align: center;
  padding: 32px 0;
}

.subtitle-team {
  margin-bottom: 8px;
}

.text-team {
  margin-bottom: 8px;
}

.social-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  fill: var(--color-cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-ocean);
}

.title-portfolio {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--color-iris);
  color: var(--color-cloud);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

.about-portfolio-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.subtitle-portfolio {
  margin-bottom: 8px;
}

.page-footer {
  background-color: var(--primary-text-color-navyblue);
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.logo-footer-container {
  margin-right: 120px;
}

.logo-icon-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.text-footer,
.logo-span-footer,
.text-social-media-footer {
  color: var(--color-cloud);
}

.text-footer {
  max-width: 264px;
}

.text-social-media-footer {
  font-weight: 500;
  color: var(--accent-text-color);
  margin-bottom: 16px;
}

.social-link-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-right: 80px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form-footer {
  min-width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 24px;
}

.input-form-footer:placeholder-shown {
  font-size: 12px;
  color: var(--accent-text-color);
  line-height: 0.2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.link-telegram {
  display: block;
  max-width: 0 auto;
  min-width: 169px;
  padding: 8px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
  text-decoration: none;
  border-radius: 4px;
  background: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-telegram:hover,
.link-telegram:focus {
  background-color: var(--color-ocean);
}

.modal-container {
  max-width: 408px;
  padding: 0 24px;
  margin: 0 auto;
  background-color: #fcfcfc;
  border-radius: 4px;
  border: 1px solid black;
}

.modal-text {
  font-weight: 500;
  color: var(--primary-text-color-navyblue);
  margin-top: 72px;
  margin-bottom: 16px;
  text-align: center;
}

.form-feedback {
  display: flex;
  flex-direction: column;
}

.label-form {
  display: block;
  color: var(--color-lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-form {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.textarea-form {
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.textarea-form:placeholder-shown {
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  padding-top: 8px;
  padding-left: 16px;
}

.input-form:hover,
.input-form:focus,
.textarea-form:hover,
.textarea-form:focus {
  border-color: var(--color-iris);
}

.checkbox-privacy-policy {
  display: flex;
  margin-bottom: 24px;
}

.privacy-policy-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--color-lightslate);
  margin-left: 8px;
}

.privacy-policy-link {
  color: var(--color-iris);
}

.button-send {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-iris);
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  border: none;
  color: var(--accent-text-color);
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto 24px auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: var(--color-ocean);
}
